<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossbowffs.quotelock">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:label="@string/quotelock"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.custom.app.CustomQuoteConfigActivity"
            android:label="@string/module_custom_activity_label"/>
        <provider
            android:name=".modules.custom.provider.CustomQuoteProvider"
            android:authorities="${applicationId}.modules.custom.provider"
            android:exported="false"/>
        <activity
            android:name=".modules.brainyquote.app.BrainyquoteQuoteConfigActivity"
            android:label="@string/module_brainyquote_activity_label" />
        <service
            android:name=".app.QuoteDownloaderService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:name=".app.CommonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <provider
            android:name=".provider.PreferenceProvider"
            android:authorities="${applicationId}.preferences"
            android:exported="true"/>
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Displays quotes on your phone lockscreen"/>
        <meta-data
            android:name="xposedminversion"
            android:value="53"/>
    </application>
</manifest>
